.pagination{
     display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

    &-block{
        margin-top: 40px;
    }
}

.disabled-btn{
    /* background-color: #d6e3d1 !important;
    color: #4d9546 !important;
    box-shadow: none !important;  */
   display: none !important;
}

