.bue-button {
  &__in-basket {
    background-color: #d6e3d1!important;
    color: #4d9546!important;
  }

  &__out-of-stock{
    background-color: #ededed !important;
    color: #a8a8a8 !important;
  }
}
